[submodule "content/journal"]
	path = content/journal
	url = git@bitbucket.org:thunderrabbit/robnugen-journal-entries.git
[submodule "content/samples/unity3d"]
	path = content/samples/unity3d
	url = git@github.com:thunderrabbit/unity3d-samples.git
[submodule "content/samples/javascript/pushups-counter-js"]
	path = content/samples/javascript/pushups-counter-js
	url = git@github.com:thunderrabbit/pushups-counter-js.git
[submodule "themes/purehugo-tr"]
	path = themes/purehugo-tr
	url = git@github.com:thunderrabbit/purehugo-tr.git
[submodule "content/toots/add-tutorial-to-hugo-site"]
	path = content/toots/add-tutorial-to-hugo-site
	url = git@github.com:thunderrabbit/add-tutorial-to-a-hugo-site.git
[submodule "content/toots/use-letsencrypt-on-dreamhost"]
	path = content/toots/use-letsencrypt-on-dreamhost
	url = git@bitbucket.org:thunderrabbit/use-letsencrypt-on-dreamhost.git
